<p>Test text</p>

<div fxLayout="row">
    <div>
        <app-file-selector></app-file-selector>

        <div cdkDropList 
            #repositoryList="cdkDropList"
            [cdkDropListConnectedTo]="[playlistList]"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="fileList">
            <app-soundbox [filePathModel]="file" *ngFor="let file of fileList" cdkDrag></app-soundbox>
        </div>
    </div>
    <div>
        <div cdkDropList 
            class="example-list" 
            #playlistList="cdkDropList" 
            [cdkDropListConnectedTo]="repositoryList"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="playlistSounds" >
            <app-soundbox [filePathModel]="file" *ngFor="let file of playlistSounds" cdkDrag></app-soundbox>
            <!-- <div *ngFor="let sound of playlistSounds; let i = index;" cdkDrag>
                <div class="playlistItem">
                    <div class="title">{{sound.title}}</div>
                    <div>
                      <button (click)="playClick($event, i)">
                          <div *ngIf="!state.playing">|></div>
                          <div *ngIf="state.playing">||</div>
                        </button>
                    </div>
                  </div>
            </div> -->
        </div>
    </div>
</div>