<p>Test text</p>

<div fxLayout="row">
    <div>
        <app-file-selector></app-file-selector>

        <div cdkDropList 
            class="example-list" 
            #repositoryList="cdkDropList"
            [cdkDropListConnectedTo]="[playlistList]" 
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="repoSounds">
            <div *ngFor="let sound of repoSounds" cdkDrag>{{sound.title}}</div>
        </div>
    </div>
    <div>
        <div cdkDropList 
            class="example-list" 
            #playlistList="cdkDropList" 
            [cdkDropListConnectedTo]="[repositoryList]" 
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="playlistSounds">
            <div *ngFor="let sound of playlistSounds; let i = index;" cdkDrag>
                <div class="playlistItem">
                    <div class="title">{{sound.title}}</div>
                    <div>
                      <button (click)="playClick($event, i)">
                          <div *ngIf="!state.playing">|></div>
                          <div *ngIf="state.playing">||</div>
                        </button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>